### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["SN"].count()

total_players_sum = pd.DataFrame({"Total Players": [total_players]})
total_players_sum

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
average_age = purchase_data["Age"].mean()
number_purchases = purchase_data["Item ID"].count()
revenue = purchase_data["Price"].sum()
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_price],
                              "Average Age": [average_age],
                              "Number Purchases": [number_purchases],
                              "Revenue": [revenue]})
purchasing_analysis

,Number of Unique Items,Average Price,Average Age,Number Purchases,Revenue
0,183,3.050987,22.714103,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [28]:
total_players = purchase_data["SN"].count()
#count female players
female_players = purchase_data.loc[purchase_data["Gender"] =="Female"]
count_female_players = female_players["SN"].nunique()

#percent female players
percent_female_players = count_female_players/total_players * 100

#count other players
other_players = purchase_data.loc[purchase_data["Gender"] =="Other / Non-Disclosed"]
count_other_players = other_players["SN"].nunique()

#percent other players
percent_other_players = count_other_players/total_players * 100

#count male players
male_players = purchase_data.loc[purchase_data["Gender"] == "Male", :]
count_male_players = male_players["SN"].nunique()

#percent male players
percent_male_players = count_male_players/total_players * 100

#create DataFrame

gender_demographics = pd.DataFrame(np.array([["Female", percent_female_players, count_female_players], 
                                             ["Male", percent_male_players, count_male_players], 
                                             ["Other", percent_other_players, count_other_players]]),
                                             columns=['Gender', 'Percent', 'Count'])
gender_demographics

   Gender             Percent Count
0  Female  10.384615384615385    81
1    Male   62.05128205128205   484
2   Other  1.4102564102564104    11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
#purchase Count Female
purchase_count_female = female_players["Purchase ID"].count()

itemid_count_female = female_players["Item ID"].nunique()

#Average Purchase Price Female
average_purchase_price_female = female_players["Price"].mean()


#purchase Count Male
purchase_count_male = male_players["Purchase ID"].count()

itemid_count_male = male_players["Item ID"].nunique()

#Average Purchase Price Male
average_purchase_price_male = male_players["Price"].mean()

average_purchase_total_male = male_players["Price"].sum()/purchase_count_male

##purchase Count Other
purchase_count_other = other_players["Purchase ID"].count()

itemid_count_other = other_players["Item ID"].nunique()

#Average Purchase Price Other
average_purchase_price_other = other_players["Price"].mean()

average_purchase_total_other = other_players["Price"].sum()/purchase_count_other
#average Purchase Total
average_purchase_price = pd.DataFrame({"Price":purchase_data.groupby(["Gender","SN"])["Price"].sum()}).reset_index()
average_purchase_price.head()
average_purchase_price_gender = pd.DataFrame({"Price":average_purchase_price.groupby(["Gender"])["Price"].mean()}).reset_index()

#dataframe

gender_purchase_analysis = pd.DataFrame(np.array([["Female", purchase_count_female, average_purchase_price_female, itemid_count_female], 
                                             ["Male", purchase_count_male, average_purchase_price_male, itemid_count_male], 
                                             ["Other / Non-Disclosed", purchase_count_other, average_purchase_price_other, itemid_count_other]]),
                                             columns=['Gender', 'Purchase Count', 'Average Purchase Price', 'Item ID Count'])
gender_purchase_analysis1 = gender_purchase_analysis.merge(average_purchase_price_gender, on="Gender", how="left")
gender_purchase_analysis1

,Gender,Purchase Count,Average Purchase Price,Item ID Count,Price
0,Female,113,3.203008849557519,90,4.468395
1,Male,652,3.0178527607361953,182,4.065372
2,Other / Non-Disclosed,15,3.3460000000000005,13,4.562727

                  Gender     Price
0                 Female  4.468395
1                   Male  4.065372
2  Other / Non-Disclosed  4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [88]:
#establish bins
bins = [0, 15, 25, 40, 50]

# Create labels for these bins
group_labels = ["0-15", "16-25", "26-40", "40-50"]

#cut data and put in bins

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

count_users = pd.DataFrame({"Total Count":purchase_data.groupby(["Age Group"])["SN"].count()}).reset_index()

percent_users = pd.DataFrame()
#age_group[["Purchase ID"]].count()



# Create a GroupBy object based upon "View Group"
#ted_group = ted_df.groupby("View Group")

# Find how many rows fall into each bin
#print(ted_group["comments"].count())

# Get the average of each column within the GroupBy object
#ted_group[["comments", "duration", "languages"]].mean()

  Age Group  Total Count
0      0-15           86
1     16-25          525
2     26-40          162
3     40-50            7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:

bins = [0, 15, 25, 40, 50]

# Create labels for these bins
group_labels = ["0-15", "16-25", "26-40", "40-50"]

group_labels
#cut data and put in bins
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

0    16-25
1    26-40
2    16-25
3    16-25
4    16-25
Name: Age, dtype: category
Categories (4, object): [0-15 < 16-25 < 26-40 < 40-50]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [63]:
purchase_data.head()

average_purchase_price = pd.DataFrame({"Price":purchase_data.groupby(["Gender","SN"])["Price"].sum()}).reset_index()

spenders_analysis = pd.DataFrame([[purchase_count, average_purchase_price, total_purchase_value]],
                                index=[purchase_data["SN"]], columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value"])

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,16-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,26-40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,16-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,16-25
4,4,Iskosia90,23,Male,131,Fury,1.44,16-25

In [ ]:

purchase_count = purchase_data.groupby(["SN"])["Purchase ID"].count()

average_purchase_price = pd.DataFrame(purchase_data.groupby(["SN"])["Price"].mean()
total_purchase_value = purchase_data.groupby(["SN"])["Price"].sum()


average_purchase_price = pd.DataFrame({"Price":purchase_data.groupby(["Gender","SN"])["Price"].sum()}).reset_index()
average_purchase_price.head()
average_purchase_price_gender = pd.DataFrame({"Price":average_purchase_price.groupby(["Gender"])["Price"].mean()}).reset_index()

gender_purchase_analysis = pd.DataFrame(np.array([["Female", purchase_count_female, average_purchase_price_female, itemid_count_female], 
                                             ["Male", purchase_count_male, average_purchase_price_male, itemid_count_male], 
                                             ["Other / Non-Disclosed", purchase_count_other, average_purchase_price_other, itemid_count_other]]),
                                             columns=['Gender', 'Purchase Count', 'Average Purchase Price', 'Item ID Count'])
gender_purchase_analysis1 = gender_purchase_analysis.merge(average_purchase_price_gender, on="Gender", how="left")
gender_purchase_analysis1

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [85]:

total_purchase_value = pd.DataFrame({"Total Purchase Value":purchase_data.groupby(["Item Name"])["Price"].sum()}).reset_index()

purchase_count = pd.DataFrame({"Purchase Count":purchase_data.groupby(["Item Name"])["Price"].count()}).reset_index()

item_price = pd.DataFrame({"Item Price":purchase_data.groupby(["Item Name"])["Price"].mean()}).reset_index()

most_popular_items = total_purchase_value.merge(purchase_count, on="Item Name", how="left")

most_popular_items = most_popular_items.merge(item_price, on="Item Name", how="left")
most_popular_items = most_popular_items.set_index('Item Name')

most_popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False)
most_popular_items.head()

,Total Purchase Value,Purchase Count,Item Price
Item Name,,,
Final Critic,59.99,13,4.614615
"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.230000
Persuasion,28.99,9,3.221111
Nirvana,44.10,9,4.900000
"Extraction, Quickblade Of Trembling Hands",31.77,9,3.530000

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame