### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["SN"].nunique()

total_players_sum = pd.DataFrame({"Total Players": [total_players]})
total_players_sum

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
average_age = purchase_data["Age"].mean()
number_purchases = purchase_data["Item ID"].count()
revenue = purchase_data["Price"].sum()
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_price],
                              "Average Age": [average_age],
                              "Number Purchases": [number_purchases],
                              "Revenue": [revenue]})
purchasing_analysis

,Number of Unique Items,Average Price,Average Age,Number Purchases,Revenue
0,183,3.050987,22.714103,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [65]:
total_players = purchase_data["SN"].count()
#count female players
female_players = purchase_data.loc[purchase_data["Gender"] =="Female"]
count_female_players = female_players["SN"].nunique()

#percent female players
percent_female_players = count_female_players/total_players * 100

#count other players
other_players = purchase_data.loc[purchase_data["Gender"] =="Other / Non-Disclosed"]
count_other_players = other_players["SN"].nunique()

#percent other players
percent_other_players = count_other_players/total_players * 100

#count male players
male_players = purchase_data.loc[purchase_data["Gender"] == "Male", :]
count_male_players = male_players["SN"].nunique()

#percent male players
percent_male_players = count_male_players/total_players * 100

#create DataFrame

gender_demographics = pd.DataFrame(np.array([["Female", percent_female_players, count_female_players], 
                                             ["Male", percent_male_players, count_male_players], 
                                             ["Other", percent_other_players, count_other_players]]),
                                             columns=['Gender', 'Percent', 'Count'])

gender_demographics = gender_demographics.set_index('Gender')

gender_demographics

                   Percent Count
Gender
Female  10.384615384615385    81
Male     62.05128205128205   484
Other   1.4102564102564104    11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
#purchase Count Female
purchase_count_female = female_players["Purchase ID"].count()

itemid_count_female = female_players["Item ID"].nunique()

#Average Purchase Price Female
average_purchase_price_female = female_players["Price"].mean()


#purchase Count Male
purchase_count_male = male_players["Purchase ID"].count()

itemid_count_male = male_players["Item ID"].nunique()

#Average Purchase Price Male
average_purchase_price_male = male_players["Price"].mean()

average_purchase_total_male = male_players["Price"].sum()/purchase_count_male

##purchase Count Other
purchase_count_other = other_players["Purchase ID"].count()

itemid_count_other = other_players["Item ID"].nunique()

#Average Purchase Price Other
average_purchase_price_other = other_players["Price"].mean()

average_purchase_total_other = other_players["Price"].sum()/purchase_count_other
#average Purchase Total
average_purchase_price = pd.DataFrame({"Price":purchase_data.groupby(["Gender","SN"])["Price"].sum()}).reset_index()
average_purchase_price.head()
average_purchase_price_gender = pd.DataFrame({"Average Purchase Price per Person":average_purchase_price.groupby(["Gender"])["Price"].mean()}).reset_index()

#dataframe

gender_purchase_analysis = pd.DataFrame(np.array([["Female", purchase_count_female, average_purchase_price_female, itemid_count_female], 
                                             ["Male", purchase_count_male, average_purchase_price_male, itemid_count_male], 
                                             ["Other / Non-Disclosed", purchase_count_other, average_purchase_price_other, itemid_count_other]]),
                                             columns=['Gender', 'Purchase Count', 'Average Purchase Price', 'Item ID Count'])
gender_purchase_analysis1 = gender_purchase_analysis.merge(average_purchase_price_gender, on="Gender", how="left")
gender_purchase_analysis1 = gender_purchase_analysis1.set_index('Gender')
gender_purchase_analysis1

,Purchase Count,Average Purchase Price,Item ID Count,Average Purchase Price per Person
Gender,,,,
Female,113,3.203008849557519,90,4.468395
Male,652,3.0178527607361953,182,4.065372
Other / Non-Disclosed,15,3.3460000000000005,13,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [63]:
#establish bins
bins = [0, 15, 25, 40, 50]

# Create labels for these bins
group_labels = ["0-15", "16-25", "26-40", "40-50"]

#cut data and put in bins

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

#count players
count_players = pd.DataFrame({"Total Count":purchase_data.groupby(["Age Group"])["SN"].count()}).reset_index()

#percent_players
percentages=count_players["Total Count"]/count_players["Total Count"].sum()*100
count_players["Percentages"]=percentages
count_players = count_players.set_index('Age Group')
count_players

           Total Count  Percentages
Age Group
0-15                86    11.025641
16-25              525    67.307692
26-40              162    20.769231
40-50                7     0.897436

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
#establish bins
bins = [0, 15, 25, 40, 50]

# Create labels for these bins
group_labels = ["0-15", "16-25", "26-40", "40-50"]

#cut data and put in bins

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

#purchase Count
purchase_count = pd.DataFrame({"Purchase Count": purchase_data.groupby(["Age Group"])["Purchase ID"].count()}).reset_index()

#purchase price
purchase_price = pd.DataFrame({"Purchase Price": purchase_data.groupby(["Age Group"])["Price"].mean()}).reset_index()

#purchase Value
purchase_value = pd.DataFrame({"Purchase Value": purchase_data.groupby(["Age Group"])["Price"].sum()})

#purchase_total
average_purchase_price = pd.DataFrame({"Total Price": purchase_data.groupby(["Age Group", "SN"])["Price"].sum()}).reset_index()
purchase_total = pd.DataFrame({"Average Purchase Price per Person":average_purchase_price.groupby(["Age Group"])["Total Price"].mean()}).reset_index()

age_purchase_analysis = purchase_count.merge(purchase_price, on="Age Group", how="left")

age_purchase_analysis = age_purchase_analysis.merge(purchase_total, on="Age Group", how="left")
age_purchase_analysis = age_purchase_analysis.merge(purchase_value, on="Age Group", how="left")
age_purchase_analysis = age_purchase_analysis.set_index('Age Group')
age_purchase_analysis

,Purchase Count,Purchase Price,Average Purchase Price per Person,Purchase Value
Age Group,,,,
0-15,86,3.087907,4.085538,265.56
16-25,525,3.053714,4.196859,1603.20
26-40,162,3.021481,4.012131,489.48
40-50,7,3.075714,3.075714,21.53

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [61]:
purchase_data.head()

#purchase count

purchase_count = pd.DataFrame({"Purchase Count": purchase_data.groupby(["SN"])["Purchase ID"].count()}).reset_index()

#average purchase price
average_purchase_price = pd.DataFrame({"Average Purchase Price": purchase_data.groupby(["SN"])["Price"].mean()}).reset_index()


#total purchase value
average_purchase_price_sum = pd.DataFrame({"Total Price": purchase_data.groupby(["SN"])["Price"].sum()}).reset_index()
total_purchase_value = pd.DataFrame({"Total Purchase Value":average_purchase_price_sum.groupby(["SN"])["Total Price"].mean()}).reset_index()


spenders_analysis = purchase_count.merge(average_purchase_price, on="SN", how="left")
spenders_analysis = spenders_analysis.merge(total_purchase_value, on="SN", how="left")
spenders_analysis = spenders_analysis.set_index('SN')
spenders_analysis = spenders_analysis.sort_values(["Total Purchase Value"], ascending=False)
spenders_analysis.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [ ]:

purchase_count = purchase_data.groupby(["SN"])["Purchase ID"].count()

average_purchase_price = pd.DataFrame(purchase_data.groupby(["SN"])["Price"].mean()
total_purchase_value = purchase_data.groupby(["SN"])["Price"].sum()


average_purchase_price = pd.DataFrame({"Price":purchase_data.groupby(["Gender","SN"])["Price"].sum()}).reset_index()
average_purchase_price.head()
average_purchase_price_gender = pd.DataFrame({"Price":average_purchase_price.groupby(["Gender"])["Price"].mean()}).reset_index()

gender_purchase_analysis = pd.DataFrame(np.array([["Female", purchase_count_female, average_purchase_price_female, itemid_count_female], 
                                             ["Male", purchase_count_male, average_purchase_price_male, itemid_count_male], 
                                             ["Other / Non-Disclosed", purchase_count_other, average_purchase_price_other, itemid_count_other]]),
                                             columns=['Gender', 'Purchase Count', 'Average Purchase Price', 'Item ID Count'])
gender_purchase_analysis1 = gender_purchase_analysis.merge(average_purchase_price_gender, on="Gender", how="left")
gender_purchase_analysis1

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [66]:

total_purchase_value = pd.DataFrame({"Total Purchase Value":purchase_data.groupby(["Item Name"])["Price"].sum()}).reset_index()

purchase_count = pd.DataFrame({"Purchase Count":purchase_data.groupby(["Item Name"])["Price"].count()}).reset_index()

item_price = pd.DataFrame({"Item Price":purchase_data.groupby(["Item Name"])["Price"].mean()}).reset_index()

most_popular_items = total_purchase_value.merge(purchase_count, on="Item Name", how="left")

most_popular_items = most_popular_items.merge(item_price, on="Item Name", how="left")
most_popular_items = most_popular_items.set_index('Item Name')

most_popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False)
most_popular_items.head()

,Total Purchase Value,Purchase Count,Item Price
Item Name,,,
Final Critic,59.99,13,4.614615
"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.230000
Persuasion,28.99,9,3.221111
Nirvana,44.10,9,4.900000
"Extraction, Quickblade Of Trembling Hands",31.77,9,3.530000

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [71]:
most_popular_items = most_popular_items.sort_values(["Total Purchase Value"], ascending=False)
most_popular_items

,Total Purchase Value,Purchase Count,Item Price
Item Name,,,
Final Critic,59.99,13,4.614615
"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.230000
Nirvana,44.10,9,4.900000
Fiery Glass Crusader,41.22,9,4.580000
Singed Scalpel,34.80,8,4.350000
"Lightning, Etcher of the King",33.84,8,4.230000
"Extraction, Quickblade Of Trembling Hands",31.77,9,3.530000
"Glimmer, Ender of the Moon",30.80,7,4.400000
Winter's Bite,30.16,8,3.770000
Persuasion,28.99,9,3.221111
Wolf,28.32,8,3.540000
"Wolf, Promise of the Moonwalker",26.88,6,4.480000
Azurewrath,26.40,6,4.400000
Hero Cane,26.10,6,4.350000
"Shadow Strike, Glory of Ending Hope",25.28,8,3.160000
"Mercy, Katana of Dismay",24.70,5,4.940000
"Blazeguard, Reach of Eternity",24.55,5,4.910000
"Peacekeeper, Wit of Dark Magic",23.70,5,4.740000
"Deluge, Edge of the West",22.15,5,4.430000
"Oathbreaker, Spellblade of Trials",21.56,7,3.080000
Ghastly Adamantite Protector,21.48,6,3.580000
Conqueror Adamantite Mace,21.20,5,4.240000
Avenger,20.64,6,3.440000
Faith's Scimitar,20.45,5,4.090000
"Betrayal, Whisper of Grieving Widows",19.70,5,3.940000
Misery's End,19.56,4,4.890000
Bone Crushing Silver Skewer,19.44,4,4.860000
Hatred,19.36,4,4.840000
Brutality Ivory Warmace,19.36,8,2.420000
"Spada, Etcher of Hatred",19.20,4,4.800000
...,...,...,...
Souleater,5.50,5,1.100000
Scalpel,5.37,3,1.790000
Possessed Core,5.22,2,2.610000
Venom Claymore,5.16,4,1.290000
Splinter,5.12,4,1.280000
War-Forged Gold Deflector,5.05,5,1.010000
"Rage, Legacy of the Lone Victor",4.96,2,2.480000
"Darkheart, Butcher of the Champion",4.90,2,2.450000
Endbringer,4.66,1,4.660000
Undead Crusader,4.50,1,4.500000
Warped Diamond Crusader,4.20,3,1.400000
Celeste,4.17,1,4.170000
"Winterthorn, Defender of Shifting Worlds",4.16,2,2.080000
Hope's End,4.12,4,1.030000
Spectral Diamond Doomblade,4.08,2,2.040000
"Frenzy, Defender of the Harvest",3.96,2,1.980000
"Alpha, Reach of Ending Hope",3.58,1,3.580000
"Riddle, Tribute of Ended Dreams",3.30,1,3.300000
Dragon's Greatsword,3.27,3,1.090000
Trickster,3.10,2,1.550000
"Sun Strike, Jaws of Twisted Visions",2.96,2,1.480000
Betrayer,2.94,1,2.940000
Curved Axe,2.32,2,1.160000
Unholy Wand,2.24,2,1.120000
"Ghost Reaver, Longsword of Magic",2.17,1,2.170000
"Flux, Destroyer of Due Diligence",2.12,2,1.060000
Whistling Mithril Warblade,2.00,2,1.000000
Exiled Mithril Longsword,2.00,1,2.000000
Gladiator's Glaive,1.93,1,1.930000
The Decapitator,1.75,1,1.750000